.idea/
*.log
craftbeerpi.db
**/node_modules/*
*.pyc
*.templog

modules/plugins/*
!modules/plugins/__init__.py
*.pyc
*.js
*.css
modules/ui/package.json

modules/ui/.babelrc
yarn.lock


modules/ui/package-lock.json
