eventlet==0.25.0
Flask==1.1.1
Flask-Classy==0.6.10
Flask-SocketIO==4.2.1
GitPython==3.0.1
greenlet==0.4.15
httplib2==0.13.1
python-dateutil==2.8.0
python-engineio==3.9.3
python-mimeparse==1.6.0
python-socketio==4.3.1
PyYAML==5.1.2
requests==2.22.0
Werkzeug==0.15.5