<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">

      <link rel="stylesheet" href="/ui/static/bootstrap.min.css">
    <link rel="stylesheet" href="/ui/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/ui/static/bootstrap.dark.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,500" rel="stylesheet">
      <style>

          body, h1, h2, h3, h4, h5, h6  {
              font-family: 'Dosis', sans-serif;
          }

      </style>


    <title>CraftBeerPi 3.1</title>
  </head>
  <body>

    <h1>CraftBeerPi - Page not Found!</h1>


  </body>
</html>
